@import url("https://use.typekit.net/fls4kmy.css");

body {
	margin:0;
	padding:0;
	height:100%;
	width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-ms-viewport{
  width: device-width;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Main {
  min-height: 100%;
  margin-bottom: 5%;
}

.top-logo{
  max-width: 100%;
  background-color: #ccff66;
}

.top-logo p{
  margin-top: 0;
  text-align: center;
  padding: 20px;
}

img.lily-logo{
  /* max-width: 35%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.top {
  background-image: url("../src/img/trim-green.png");
}

.top{
  padding: 20px 10px 0px 0; 
  height: 50px;
  background-color: #2a363b;
  bottom: 0;
  left: 0;
  max-width: 100%;
  text-align: right;
}

.green {
  background-color: #ccff66;
  padding: 2%;
}

.footer {
  background-image: url("../src/img/trim-green.png");
}

.footer{
  padding: 0px 10px 0px 0; 
  height: 50px;
  background-color: #2a363b;
  bottom: 0;
  left: 0;
  max-width: 100%;
  text-align: right;
}

p.foot {
  display: inline;
  color: #fff;
  font-weight: 900;
  font-family: "urbana", sans-serif;
  font-size: 28px;
  text-shadow: 2px 2px 2px #000;
}

.content{
  margin: auto;
  width: 80%;
  padding: 5% 5% 5% 5%;
  font-family: "urbana", sans-serif;
  font-size: 18px;
}

p.hithere{
  font-size: 28px;
}

ul.a {
  list-style-type: circle;
}

.center {  margin: auto;
  width: 50%;
}

.big-icon {
  font-size: 48px;
}

.med-icon {
  font-size: 40px;
  margin-right: 50px;
}
 .container {
  max-width: 500px;
 }

 p.Skill-Name {
  font-size: 12pt;
  text-align: center;
}

div.row {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 1%;
}

div.Pad-Icons {
      padding: 1% 0 0 0;
}

a.Link-Text {
  color: #27401a;
  font-size: 12pt;
  text-decoration: none;
}
a.Link-Text:hover {
  color: var(--grey);
  text-decoration: underline;
}
