@import url("https://use.typekit.net/fls4kmy.css");

body {
	margin:0;
	padding:0;
	height:100%;
	width: 100%;
  font-family: Verdana,Geneva,sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-ms-viewport{
  width: device-width;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Main {
  min-height: 100%;
  /* margin-bottom: 5%; */
}

p {
    font-family: Verdana,Geneva,sans-serif; 
}

.top-logo{
  max-width: 100%;
  background-color: #ccff66;
}

.top-logo p{
  margin-top: 0;
  text-align: center;
  padding: 20px;
}

img.lily-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  @media only screen and (min-width: 768px) {
    min-width: 55%;
    padding-top: 1%;
    display: block;
    max-width: 30%;
    margin-bottom: 3%;
  }
}

.top {
  background-image: url("../src/img/trim-green.png");
}

.top{
  padding: 20px 10px 0px 0; 
  height: 100px;
  background-color: #2a363b;
  bottom: 0;
  left: 0;
  max-width: 100%;
  text-align: right;
}

.green {
  background-color: #ccff66;
  padding: 2% 2% 15px 2%;
  border-bottom: 30px solid #223f31;
  margin-bottom: 2%;
}

.greendesk {
  background-color: #ccff66;
  padding: 2% 2% 15px 2%;
  min-height: 100%;
}

.footer {
  background-image: url("../src/img/trim-green.png");
}

.footer{
  padding: 25px 25px 0px 0; 
  height: 100px;
  bottom: 0;
  left: 0;
  max-width: 100%;
  text-align: right;
}

p.foot {
  display: inline;
  color: #fff;
  font-weight: 900;
  font-family: "urbana", sans-serif;
  font-size: 28px;
  text-shadow: 2px 2px 2px #000;
}

.content{
  margin: auto;
  width: 80%;
  padding: 1% 1% 1% 1%;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 18px;
  @media only screen and (min-width: 768px) {
    padding: 2% 2% 2% 2%;
    width: 50%;
  }
}

.contentdesk {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 18px;
    padding: 5% 12% 2% 12%;
    margin-top: 15%;
}

p.hithere{
  font-size: 32px;
  font-weight: 600;
  font-family: Verdana,Geneva,sans-serif; 
}

ul.a {
  list-style-type: disc;
    font-family: Verdana,Geneva,sans-serif;
}

.center {  margin: auto;
  width: 50%;
}

.big-icon {
  font-size: 48px;
}

.med-icon {
  font-size: 40px;
  margin-right: 50px;
}
 .container {
  max-width: 500px;
 }

 p.Skill-Name {
  font-size: 10pt;
  text-align: center;
}


div.row{
    /* margin-right: 50px; */
  margin-left: 0px;
  padding-top: 1%;
  @media only screen and (min-width: 768px) {
  margin: 0;
  padding-top: 0;
  }
}

div.container{
  @media only screen and (min-width: 768px) {
        max-width: 100%;
        padding: 0%;
  }
}

div.col{
  @media only screen and (min-width: 768px) {
        max-width: 100%;
        padding: 0%;
  }
}

div.col-sm-8{
  @media only screen and (min-width: 768px) {
        max-width: 100%;
        padding: 0%;
  }
}

div.Pad-Icons {
      padding: 1% 0 0 0;
}

a.Link-Text {
  color: #27401a;
  font-size: 12pt;
  text-decoration: none;
  font-family: Verdana,Geneva,sans-serif;
}
a.Link-Text:hover {
  color: var(--grey);
  text-decoration: underline;
}

img.icons {
  display: inline-block;
  margin-left: 25px;
  margin-right: auto;
}

